@model ABCarriers.Models.Invoice

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="miti" class="control-label"></label>
                <input asp-for="miti" class="form-control" id="miti"  placeholder="YYYY/MM/DD" />
                <span asp-validation-for="miti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invoice_no" class="control-label"></label>
                <input asp-for="invoice_no" class="form-control" />
                <span asp-validation-for="invoice_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendor_id" class="control-label"></label>
                <select asp-for="vendor_id" class ="form-control" asp-items="ViewBag.vendor_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="location_id" class="control-label"></label>
                <input asp-for="location_id" class="form-control" />
                <span asp-validation-for="location_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category_id" class="control-label"></label>
                <select asp-for="category_id" class ="form-control" asp-items="ViewBag.category_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rate" class="control-label"></label>
                <input asp-for="rate" class="form-control" />
                <span asp-validation-for="rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taxable_amount" class="control-label"></label>
                <input asp-for="taxable_amount" class="form-control" />
                <span asp-validation-for="taxable_amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vat_amount" class="control-label"></label>
                <input asp-for="vat_amount" class="form-control" />
                <span asp-validation-for="vat_amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total_amount" class="control-label"></label>
                <input asp-for="total_amount" class="form-control" />
                <span asp-validation-for="total_amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unit_id" class="control-label"></label>
                <select asp-for="unit_id" class ="form-control" asp-items="ViewBag.unit_id"></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
    
}
